/************************** BASE STYLES (MOBILE FIRST) **************************/

header {
    background-color: #333333;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 999;

}

header img {
    display: block;
    margin: 0 auto;
    padding-top: 3px;
}

.hero {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: #462144;
}

.hero-image {
    opacity: 50%;
    width: 100%;
}

.logo img {
    height: 75px;
    width: 75px;
    position: absolute;
    top: 100px;
    left: 450px;
    z-index: 2;
}

.container {
    height: 500px;
}

.headline-form-card {
    height: 900px;
    position: absolute;
    top: 240px;
    left: 120px;
    z-index: 2;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    border: solid black 2px;
}

.headline-form-card h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 5px;
    color: #333;
}

.headline-form-card p {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 12px; 
    padding-left: 20px;
    padding-right: 20px;
    color: #333;
}

.headline-form {
    background-color: white;
    height: 600px;
    margin: 40px;
}

.headline-form p {
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 12px; 
    color: #666;
}

.headline-form h1 {
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px; 
    padding-left: 20px;
    color: #666;
    margin-top: 20px;
}

input[type=text] {
    padding: 10px 113px 10px 10px;
    border: 1px solid #666;
    border-radius: 2px;
    margin: 10px 15px;
}

#address {
    width: 76%;
}

#agreement {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

input[type=checkbox] {
    zoom: 1.5;
}

#agreement p {
    margin-top: 0;
    margin-right: 20px;
    padding-left: 10px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;     
}

.submission {
    display: flex;
    align-items: flex-end;
    height: 162px;
}

#submit-btn {
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to right, #7a3788, #f08831);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    border: none; 
}

#submit-btn:hover {
    background-image: none;
    background-color: #f08831;
}

.secondary-cta {
    background-image: linear-gradient(to bottom right, #4f4099, #0096d7);
}

.secondary-cta-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0 auto;
}

.secondary-cta h1 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.secondary-cta p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: white;
}

footer nav {
    padding-left: 100px;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

footer nav ul li {
    padding: 10px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

footer nav ul li a {
    color: rgb(6, 6, 230);
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.footer-p {
    font-size: 7px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding-left: 150px;
    width: 75%;
}

/************************** MEDIA QUERIES **************************/

@media only screen and (min-width: 1024px) {
    .logo img {
        left: 475px;
    }
}

@media only screen and (min-width: 1200px) {

    header img {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo img {
        height: 150px;
        width: 150px;
        position: absolute;
        top: 110px;
        left: 600px;
    }

    .hero {
        height: 600px;
    }

    .container {
        height: 650px;
    }

    .headline-form-card {
        margin-left: 20px;
        padding-left: 50px;
        height: 1050px;
    }

    .headline-form-card h1 {
        font-size: 48px;
        padding-left: 75px;
        padding-right: 125px;
    }

    .headline-form-card p {
        font-size: 16px;
        padding-left: 45px;
        padding-right: 95px;
    }

    .headline-form {
        margin-right: 95px;
    }

    .headline-form h1 {
        font-size: 14px;
        padding-left: 30px;
    }

    .headline-form p {
        font-size: 14px; 
        color: #666;
        padding-top: 5px;
        padding-right: 35px;
    }

    input[type=text] {
        padding: 10px 190px 10px 10px;
        width: 185px;
        border: 1px solid #666;
        border-radius: 2px;
        margin: 10px 10px 10px 30px;
    }

    #address {
        width: 70.35%;
    }

    #agreement {
        padding-left: 25px;
    }

    #check {
        margin-top: 7px;
    }

    #submit-btn {
        font-size: 14px;
        font-weight: 400;
        margin-left: 0;
    }

    .secondary-cta {
        height: 650px;
    }

    .secondary-cta-text {
        padding-top: 65px;
    }

    .secondary-cta-text h1 {
        font-size: 40px;
    }

    footer nav ul li a {
        font-size: 12px;
    }

    .footer-p {
        font-size: 14px;
        margin-bottom: 50px;
    }

    
}